*bundle*
sublime-text-3/Packages/User/Package Control.merged-ca-bundle
sublime-text-3/Packages/User/Package Control.user-ca-bundle
.netrwhist*
*.png
sublime-text-3/Packages/ssl-linux/
sublime-text-3/Packages/bz2/
sublime-text-3/Cache/
sublime-text-3/Index/
sublime-text-3/Packages/User/Package Control.cache/
sublime-text-3/Packages/User/Package Control.last-run
sublime-text-3/Local/Auto Save Session.sublime_session
sublime-text-3/Local/Session.sublime_session

sublime-text-3/Local/License.sublime_license
sublime-text-3/Backup/
sublime-text-3/Local/.*
*.sublime-package
sublime-text-3/Local
sublime-text-3/Packages/User/Sublimerge.sublime-license
test.sh
*.swp
sublime-text-3/*
**.DS_Store**
*.log
local_file
__pycache__
README.html
config/fish/conf.d/theme
config/fish/fish_variables
